/*GLOBAL STYLES*/
body {
    width: 100%;
    margin: 0 auto;

    font-size: 16px;

    font-family: 'Oswald', sans-serif;
    color: #333333;
}

a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

/* ICONS */
.icon {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-top: .8rem;
}

.icon-delete {
    background: url("../resources/icons/garbage.png") no-repeat;
    background-size: contain;
}

/*FAST STYLES*/

.big-title-text {
    font-size: 2rem;
    color: #333333;
}

._with-bottom-dashed-border {
    border-bottom: 2px dashed #333333;
}

._with-top-dashed-border {
    border-top: 2px dashed #333333;
}

._yellow-text {
    color: #ffa813 !important;
}

._white-text {
    color: white !important;
}

._bold-text {
    font-weight: bold;
}

._title-text {
    font-size: 2.5rem;
    color: #333333;
}

._white-href a {
    color: white !important;
}

.control-btn__white {
    color: #ffa813 !important;
    background-color: white !important;
}
.control-btn__white,
.control-btn {
    width: 15rem;

    margin: 0.4rem 1rem 0.4rem 0rem;
    padding: 0.6rem 1rem;

    background-color: #ffa813;
    color: white;

    font-size: 15px;

    border: 2px solid #ffa813;
    border-radius: 10px;
}

.control-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #ffa813;
}

.control-btn__white:hover {
    cursor: pointer;
    background-color: #ffa813 !important;
    color: white !important;
}

/*HEADER*/

.header {
    display: block;

    width: 100%;
    background-color: white;
}

.header .nav-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.nav-panel .nav-panel__logo {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: 20%;

    padding: 0 25px;
}

.nav-panel .nav-panel__logo .logo-image {
    background-image: url("../resources/icons/graphic.png");
    background-size: contain;
    background-repeat: no-repeat;

    width: 30%;
    height: 80%;
}

.nav-panel .nav-panel__logo .logo-text {
    font-size: 2rem;
}

.nav-panel .nav-panel__buttons {
    display: flex;
    justify-content: flex-end;
    width: 60%;

    margin: 0 10px;
}

.nav-panel .nav-panel__buttons ul {
    display: flex;
    flex-direction: row;

    list-style: none;
}

.nav-panel .nav-panel__buttons ul li {
    padding: 5px 20px;
}

.nav-panel .nav-panel__buttons ._yellow-button {
    background-color: #ffa813;
    border: 1px solid #ffa813;
    border-radius: 10px;
}

/*CONTENT*/

.content {
    width: 90%;
    display: flex;
    flex-direction: column;


    margin: 50px 5%;
}

.welcome-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.welcome-content__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.welcome-content__image {
    width: 40%;

    background: url("../resources/images/Home-Icon.png") no-repeat;
    background-size: contain;
    background-position: center;
}

/*PERSONAL_CARD*/

.personal-card {
    width: 80%;
    margin: 5% 10% 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.personal-card__description {
    width: 50%;
    background-color: #042A38;
    color: white;
    min-height: 300px;
}

.personal-card__description__text-block {
    width: 80%;
    padding: 0 10%;
}

.personal-card__image {
    width: 50%;
    height: 380px;
    background-image: url("../resources/images/developer.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/*GRAPH SECTION*/

.build-graph {
    width: 100%;
    text-align: center;
    margin: 50px auto;
}

.build-graph__params {
    margin: 50px auto;
}

.form-set {
    float: left;
}

.form-set:last-child {
    float: none;
}

.form-field {
    float: left;
    margin: 0 50px 0 0;
}

.form-field input {
    padding: 10px;
    margin: 10px 0px;
    width: 200px;
}

.form-field input._small-field {
    width: 100px;
}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: row;
    background-color: #ffa813;
}

.footer__links {
    width: 45%;
    text-align: right;
}

.footer__other_links {
    width: 50%;
}

.footer__other_links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.footer__links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.footer__links ul li {
    margin: 15px 50px;
}

.footer__other_links ul li {
    margin: 10px 100px;
    background-size: contain !important;
    width: 2.5rem;
    height: 2.5rem;
}

._half-size {
    width: 45%;
}

._center {
    text-align: center;
}

