/*GLOBAL STYLES*/
body {
    width: 100%;
    margin: 0 auto;

    font-size: 16px;

    font-family: 'Oswald', sans-serif;
    color: #333333;
}

a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

/* ICONS */
.icon {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-top: .8rem;
}

.icon-delete {
    background: url("../resources/icons/garbage.png") no-repeat;
    background-size: contain;
}

/*FAST STYLES*/

._hidden {
    display: none !important;
}

._visible {
    display: unset !important;
}

.big-title-text {
    font-size: 2rem;
    color: #333333;
}

._with-bottom-dashed-border {
    border-bottom: 2px dashed #333333;
}

._with-top-dashed-border {
    border-top: 2px dashed #333333;
}

._yellow-text {
    color: #ffa813 !important;
}

._white-text {
    color: white !important;
}

._bold-text {
    font-weight: bold;
}

._title-text {
    font-size: 2.5rem;
    color: #333333;
}

._white-href a {
    color: white !important;
}

.control-btn__white {
    color: #ffa813 !important;
    background-color: white !important;
}
.control-btn__white,
.control-btn {
    width: 15rem;

    margin: 0.4rem 1rem 0.4rem 0rem;
    padding: 0.6rem 1rem;

    background-color: #ffa813;
    color: white;

    font-size: 15px;

    border: 2px solid #ffa813;
    border-radius: 10px;
}

.control-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #ffa813;
}

.control-btn__white:hover {
    cursor: pointer;
    background-color: #ffa813 !important;
    color: white !important;
}

/*HEADER*/

.header {
    display: block;

    width: 100%;
    background-color: white;
}

.header .nav-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.nav-panel .nav-panel__logo {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: 20%;

    padding: 0 25px;
}

.nav-panel .nav-panel__logo .logo-image {
    background-image: url("../resources/icons/graphic.png");
    background-size: contain;
    background-repeat: no-repeat;

    width: 30%;
    height: 80%;
}

.nav-panel .nav-panel__logo .logo-text {
    font-size: 2rem;
}

.nav-panel .nav-panel__buttons {
    display: flex;
    justify-content: flex-end;
    width: 60%;

    margin: 0 10px;
}

.nav-panel .nav-panel__buttons ul {
    display: flex;
    flex-direction: row;

    list-style: none;
}

.nav-panel .nav-panel__buttons ul li {
    padding: 5px 20px;
}

.nav-panel .nav-panel__buttons ._yellow-button {
    background-color: #ffa813;
    border: 1px solid #ffa813;
    border-radius: 10px;
    white-space: nowrap;
}

.nav-panel__buttons_compacted {
    display: none;
    justify-content: center;
    align-items: center;

    margin-right: 1rem;
}

.submenu {
    display: flex;
}

.submenu ul {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0;
    margin: 1rem 0 0;

    list-style: none;
}

.submenu ul li {
    text-align: center;

    background: #ffa813;
    color: white;

    border-bottom: 1px solid white;

    padding: 5px 0;
}

.menu-icon {
    background: url("../resources/icons/menu.png");
    background-size: contain;

    width: 32px;
    height: 32px;

    cursor: pointer;
}

/*CONTENT*/

.content {
    width: 90%;
    display: flex;
    flex-direction: column;


    margin: 50px 5%;
}

.welcome-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.welcome-content__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.welcome-content__image {
    width: 40%;

    background: url("../resources/images/Home-Icon.png") no-repeat;
    background-size: contain;
    background-position: center;
}

/*PERSONAL_CARD*/

.personal-card {
    width: 80%;
    margin: 5% 10% 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.personal-card__description {
    width: 50%;
    background-color: #042A38;
    color: white;
    min-height: 300px;
}

.personal-card__description__text-block {
    width: 80%;
    padding: 0 10%;
}

.personal-card__image {
    width: 50%;
    height: 380px;
    background-image: url("../resources/images/developer.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/*GRAPH SECTION*/

.build-graph {
    width: 100%;
    text-align: center;
    margin: 50px auto;
}

.graph-form-container {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
}

.build-graph__params {
    margin: 50px auto;
}

.form-set {
    float: left;
}

.form-set:last-child {
    float: none;
}

.form-set.variables {
    display: flex;
    flex-direction: row;

    width: 95%;
}

.form-field {
    float: left;
}

.form-field input {
    padding: 10px;
    margin: 10px 0px;
    width: 200px;
}

.form-field input._small-field {
    width: 100px;
}

._graph-params {
    width: 31%;
}

._graph-variables {
    width: 60%;
    text-align: center;
}

/*FOOTER*/

.footer {
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    background-color: #ffa813;
}

.footer__items,
.footer__items_image {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    list-style: none;
}

.footer__items a,
.footer__items_image a {
    margin: 0 2rem;
}

.footer__items_image li {
    width: 3rem;
    height: 3rem;

    background-size: contain !important;
}


._half-size {
    width: 45%;
}

._center {
    text-align: center;
}

.chart-wrapper {
    display: block;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

 /*Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .logo-image {
        display: none;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .big-title-text {
        font-size: 1.5rem;
    }

    .graph-form-container {
        flex-direction: column;
        align-items: center;
    }

    ._graph-params {
        width: 90%;
    }

    ._graph-params .form-field {
        margin-left: 5%;
    }

    ._graph-variables {
        width: 90%;
        margin-left: 4rem;
    }

    .logo-image {
        display: none;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .nav-panel__buttons_compacted {
        display: flex;
    }

    .logo-image,
    .nav-panel__buttons,
    .welcome-content__image,
    .personal-card__image {
        display: none !important;
    }

    .welcome-content__description {
        width: 100%;

        text-align: center;
        align-items: center;
    }

    .personal-card__description {
        width: 90% !important;
    }

    .graph-form-container {
        flex-direction: column;
        align-items: center;
    }

    ._graph-variables {
        width: 90%;
        margin-left: 0;
    }

    .big-title-text {
        font-size: 1.5rem;
    }

    .footer {
        flex-direction: column;
    }

    ._graph-params {
        width: 50%;
    }

    .form-field input._small-field {
        width: 70px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .footer {
        flex-direction: column;
    }

    .about-service ._half-size {
        float: none;

        width: 100%;

        margin: 0 !important;
    }

    .logo-image {
        display: none;
    }


    ._graph-params {
        width: 85%;
    }

    ._graph-variables {
        width: 100%;
    }
}
