<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Graph</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <script src="../js/script.js" type="module"></script>
<!--    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>-->
</head>
<body ng-app="graphApp">
<div class="header">
    <div class="nav-panel">
        <div class="nav-panel__logo">
            <div class="logo-image"></div>
            <div class="logo-text">QuickGraph</div>
        </div>
        <div class="nav-panel__buttons">
            <ul>
                <a class="_yellow-button" href="" style="color: white">
                    <li>Построить график</li>
                </a>
                <a href="">
                    <li>О сервисе</li>
                </a>
                <a href="">
                    <li>Помощь</li>
                </a>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <div class="welcome-content _with-bottom-dashed-border">
        <div class="welcome-content__description">
            <div class="_title-text">Постройте свой график быстро!</div>
            <p>
                С помощью данного сервиса вы можете построить график функции y = f(x) точно и за считанные мгновения.
                Благодоря калькулятору, который анализирует входную строку и вычисляет значения, предварительно переведя
                его в байт-код.
            </p>
            <button class="control-btn">Попробовать</button>
            <button class="control-btn__white">О сервисе</button>
        </div>
        <div class="welcome-content__image"></div>
    </div>
    <div class="personal-card">
        <div class="personal-card__description">
            <div class="personal-card__description__text-block">
                <h3 class="big-title-text _white-text">ramaketa<br>@gmail.com</h3>
                <h3 class="big-title-text _white-text">___</h3>
                <h3 class="_white-text">
                    Hi everyone, my name is Ramazan and I am the developer of this service. The front of the site
                    written
                    using HTML, CSS. JavaScript and AngularJS. Server part using Microsoft CppRestSDK library.
                    <br>
                    All my projects you can see at my GitHub profile
                </h3>
            </div>
        </div>
        <div class="personal-card__image"></div>
    </div>
    <div>
        <div class="build-graph _with-bottom-dashed-border  _with-top-dashed-border">
            <h3 class="big-title-text">Построить график.</h3>
            <div class="build-graph__params" ng-controller="graphController">
                <form name="graphForm">
                    <div style="display: flex; padding-bottom: 50px; justify-content: center">
                        <div class="form-set" style="width: 31%">
                            <div class="form-field">
                                <div class="form-field__label">Введите функцию:</div>
                                <div class="form-field__value">
                                    Y(x) = <input type="text"
                                                  placeholder="Например: 3 * x + (10^x - 5)"
                                                  ng-required="true"
                                                  ng-model="graph.equation">
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="form-field__label">Границы и шаг:</div>
                                <div class="form-field__value">
                                    Шаг = <input type="text"
                                           pattern="^[0-9]+$"
                                           ng-required="true"
                                           ng-model="graph.step">
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="form-field__value">
                                    min = <input type="text"
                                           pattern="^[0-9-]+$"
                                           ng-required="true"
                                           ng-model="graph.min">
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="form-field__value">
                                    max = <input pattern="^[0-9-]+$"
                                                 ng-required="true"
                                                 ng-model="graph.max">
                                </div>
                            </div>
                        </div>

                        <div class="form-set" style="width: 40%; text-align: center">
                            <div class="form-field">
                                <div class="form-field__label">Константа</div>
                                <div class="form-field__value">
                                    <input class="_small-field"
                                           type="text"
                                           pattern="^[A-Za-z]+$"
                                           ng-model="newItem.term">
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="form-field__label">Значение</div>
                                <div class="form-field__value">
                                    <input class="_small-field"
                                           pattern="^[0-9-]+$"
                                           ng-model="newItem.value">
                                </div>
                            </div>

                            <div class="form-field__label" style="width: 65%">Константы:</div>
                            <div class="form-field__label _yellow-text" ng-if="variables.length == 0" style="width: 65%">Нет заявленных констант!</div>
                            <div class="form-set" ng-repeat="item in variables track by $index">
                                <div class="form-field">
                                    <div class="form-field__value">
                                        <input class="_small-field"
                                               ng-model="item.term"
                                               ng-disabled="true">
                                    </div>
                                </div>
                                <div class="form-field">
                                    <div class="form-field__value">
                                        <input class="_small-field"
                                               ng-model="item.value"
                                               ng-disabled="true">
                                        <i class="icon icon-delete" ng-click="removeItem($index)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-set" style="margin-top: 2.5rem;">
                            <div class="form-field">
                                <a class="_yellow-text" ng-click="addVariable(newItem)">
                                    + ДОБАВИТЬ ПЕРЕМЕННУЮ
                                </a>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="control-btn" ng-click="sendParams()">ПОСТРОИТЬ</button>
                </form>
            </div>
        </div>
        <canvas id="myChart" width="500" height="200"></canvas>
    </div>
</div>
<div class="footer">
    <div class="footer__other_links">
        <ul>
            <a href="">
                <li style="background: url(../resources/icons/github.png)"></li>
            </a>
            <a href="">
                <li style="background: url(../resources/icons/gmail.png)"></li>
            </a>
            <a href="">
                <li style="background: url(../resources/icons/vk.png)"></li>
            </a>
        </ul>
    </div>
    <div class="footer__links">
        <ul>
            <a href="">
                <li>О сервисе</li>
            </a>
            <a href="">
                <li>Помощь</li>
            </a>
            <a href="">
                <li>Построить график</li>
            </a>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
<!--<script src="../node_modules/angular/angular.min.js"></script>-->
<!--<script src="../node_modules/angular/index.js"></script>-->
<script src="../js/graph.controller.js"></script>
</body>
</html>