<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Quick Graph</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <script src="../js/script.js" type="module"></script>
<!--    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>-->
</head>
<body ng-app="graphApp" ng-controller="graphController">
<div class="header">
    <div class="nav-panel">
        <div class="nav-panel__logo">
            <div class="logo-image"></div>
            <div class="logo-text">QuickGraph</div>
        </div>
        <div class="nav-panel__buttons">
            <ul>
                <a class="_yellow-button"  href="#create" style="color: white">
                    <li>Построить график</li>
                </a>
                <a href="#service">
                    <li>О сервисе</li>
                </a>
                <a href="https://vk.com/nur1ev1">
                    <li>Помощь</li>
                </a>
            </ul>
        </div>

        <div class="nav-panel__buttons_compacted">
            <div class="menu-icon" ng-click="compacted = !compacted"></div>
            </div>
        </div>
        <div class="submenu">
            <ul ng-class="compacted ? '_hidden' : '_visible'">
                <a href="#create" ng-click="compacted = !compacted">
                    <li>Построить график</li>
                </a>
                <a href="#service" ng-click="compacted = !compacted">
                    <li>О сервисе</li>
                </a>
                <a href="#help" ng-click="compacted = !compacted">
                    <li>Помощь</li>
                </a>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <div class="welcome-content _with-bottom-dashed-border">
        <div class="welcome-content__description">
            <div class="_title-text">Постройте свой график быстро!</div>
            <p>
                С помощью данного сервиса вы можете построить график функции y = f(x) точно и за считанные мгновения.
                Благодоря калькулятору, который анализирует входную строку и вычисляет значения, предварительно переведя
                его в байт-код.
            </p>
            <a href="#create"><button class="control-btn">Попробовать</button></a>
            <a href="#service"><button class="control-btn__white">О сервисе</button></a>
        </div>
        <div class="welcome-content__image"></div>
    </div>
    <div class="personal-card">
        <div class="personal-card__description">
            <div class="personal-card__description__text-block">
                <h3 class="big-title-text _white-text">ramaketa@gmail.com</h3>
                <h3 class="big-title-text _white-text">___</h3>
                <h3 class="_white-text">
                    Hi everyone, my name is Ramazan and I am the developer of this service. The front of the site
                    written
                    using HTML, CSS. JavaScript and AngularJS. Server part using Microsoft CppRestSDK library.
                    <br>
                    All my projects you can see at my GitHub profile
                </h3>
            </div>
        </div>
        <div class="personal-card__image"></div>
    </div>
    <p id="service"></p>
    <div class="about-service">
        <h1 class="big-title-text _center">О Сервисе</h1>
        <div class="_half-size" style="float: left">
            <h3>Идея алгоритма</h3>
            <p>
                Вся суть алгоритма - перевод инфиксной записи выражения
                в постфиксный формат. <br>
                <br>
                Например:<br>
                  инфиксная запись: 2 + 3<br>
                  постфиксная запись: 2 3 +<br>
                <br>
                  Постфиксная запись читается следующим образом:<br>
                <br>
                  Давайте возьмем для примера выражение: 5 2 * 8 2 / +<br>
                  - кладем 5 в стек<br>
                  - кладем 2 в стек<br>
                  - Умножаем два значения в верхней части стека и поместите результат в<br>
                    стек (удаляя два старых значения)<br>
                  - кладем 8 в стек<br>
                  - кладем 2 в стек<br>
                  - Делим два значения на вершине стека<br>
                  - Добавляем два значения в верхней части стека (в этом случае
                    результат 5 * 2 и 8/2, то есть 10 и 4).<br>
                  В конце остается лишь одно значение - результат выражения.<br>
            </p>
        </div>
        <div class="_half-size" style="float: left; margin-left: 10%">
            <h3>Функции, которые поддерживаются:</h3>
            <p>
            <table>
                <thead>
                    <th>Функция</th>
                    <th>Пояснение</th>
                </thead>
                <tbody>
                <tr>
                    <td>()</td>
                    <td>Скобки, указывающие приоритет выполнения</td>
                </tr>
                <tr>
                    <td>-А</td>
                    <td>Унарный минус</td>
                </tr>
                <tr>
                    <td>А^B</td>
                    <td>Возведение A в степень B</td>
                </tr>
                <tr>
                    <td>A*B A/B A%B</td>
                    <td>Умножение, деление, остаток от деления</td>
                </tr>
                <tr>
                    <td>A+B A-B</td>
                    <td>Сложение, Вычитание</td>
                </tr>
                <tr>
                    <td>A=B A< B A>B </td>
                    <td>Сравнение А и В (возвращает 0 или 1)</td>
                </tr>
                <tr>
                    <td>A&B A|B</td>
                    <td>Логическое "И" и "ИЛИ"</td>
                </tr>
                <tr>
                    <td>abs(A)</td>
                    <td>Модуль числа</td>
                </tr>
                <tr>
                    <td>сos(A), sin(A), asin(A), acos(A), tan(A) </td>
                    <td>Тригонометрические функции: косинус, синус, арккосинус, арксинус, тангенс</td>
                </tr>
                <tr>
                    <td>сosh(A), sinh(A), asinh(A), acosh(A), tanh(A)</td>
                    <td>Гипорболические тригонометрические функции</td>
                </tr>
                <tr>
                    <td>floor(A)</td>
                    <td>Округление до целого</td>
                </tr>
                </tbody>
            </table>
            </p>
        </div>
    </div>
    <div>
        <div class="build-graph _with-bottom-dashed-border  _with-top-dashed-border">
            <h3 class="big-title-text">Построить график.</h3>
            <p id="create"></p>
            <div class="build-graph__params">
                <form name="graphForm">
                    <div class="graph-form-container">
                        <div class="form-set _graph-params">
                            <div class="form-field">
                                <div class="form-field__label">Введите функцию:</div>
                                <div class="form-field__value">
                                    Y(x) = <input type="text"
                                                  placeholder="Например: 3 * x + (10^x - 5)"
                                                  ng-required="true"
                                                  ng-model="graph.equation">
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="form-field__label">Границы и шаг:</div>
                                <div class="form-field__value">
                                    Шаг = <input type="text"
                                           pattern="^[0-9,.]+$"
                                           ng-required="true"
                                           placeholder="> 0.001"
                                           ng-model="graph.step">
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="form-field__value">
                                    min = <input type="text"
                                           pattern="^[0-9-,.]+$"
                                           ng-required="true"
                                           ng-model="graph.min">
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="form-field__value">
                                    max = <input pattern="^[0-9-,.]+$"
                                                 ng-required="true"
                                                 ng-model="graph.max">
                                </div>
                            </div>
                        </div>

                        <div class="form-set _graph-variables">
                            <div class="form-field" style="width: 30%">
                                <div class="form-field__label">Константа</div>
                                <div class="form-field__value">
                                    <input class="_small-field"
                                           type="text"
                                           pattern="^[A-Za-z]+$"
                                           ng-model="newItem.term">
                                </div>
                            </div>
                            <div class="form-field" style="width: 30%">
                                <div class="form-field__label">Значение</div>
                                <div class="form-field__value">
                                    <input class="_small-field"
                                           pattern="^[0-9-,.]+$"
                                           ng-model="newItem.value">
                                </div>
                            </div>

                            <div class="form-field" style="width: 30%; padding-top: 30px">
                                <a class="_yellow-text" ng-click="addVariable(newItem)">
                                    + ДОБАВИТЬ
                                </a>
                            </div>

                            <div class="form-field" style="width: 90%">
                                <div class="form-field__label">Константы:</div>
                            </div>
                            <div class="form-field" ng-if="variables.length == 0" style="width: 90%">
                                <div class="form-field__label _yellow-text">Нет заявленных констант!</div>
                            </div>

                            <div class="form-set variables" ng-repeat="item in variables track by $index">
                                <div class="form-field" style="width: 30%">
                                    <div class="form-field__value">
                                        <input class="_small-field"
                                               ng-model="item.term"
                                               ng-disabled="true">
                                    </div>
                                </div>
                                <div class="form-field" style="width: 40%">
                                    <div class="form-field__value">
                                        <input class="_small-field"
                                               ng-model="item.value"
                                               ng-disabled="true">
                                        <i class="icon icon-delete" ng-click="removeItem($index)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="control-btn" ng-click="sendParams()">ПОСТРОИТЬ</button>
                </form>
            </div>
        </div>
        <div class="chart-wrapper">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
<div class="footer">
    <ul class="footer__items_image">
        <a href="https://github.com/ramaketa">
            <li style="background: url(../resources/icons/github.png)"></li>
        </a>
        <a href="">
            <li style="background: url(../resources/icons/gmail.png)"></li>
        </a>
        <a href="https://vk.com/nur1ev1">
            <li style="background: url(../resources/icons/vk.png)"></li>
        </a>
    </ul>
    <ul class="footer__items">
        <a href="#service">
            <li>О сервисе</li>
        </a>
        <a href="https://vk.com/nur1ev1">
            <li>Помощь</li>
        </a>
        <a href="#create">
            <li>Построить график</li>
        </a>
    </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
<script src="../js/graph.controller.js"></script>
<script src="../node_modules/chart.js/dist/Chart.min.js"></script>
</body>
</html>
